/* variables */
:root {
  --color-primary: #9c27b0;
  --color-primary-dark: #7b1fa2;
  --color-black: #000;
  --color-white: #fff;
  --color-light: #f6f7f7;
  --color-gradient: linear-gradient(
    45deg,
    #7b1fa2,
    #8321a6,
    #8c23a9,
    #9425ad,
    #9c27b0
  );
  --font: "Poppins";
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button {
  background: none;
  border: none;
  font-family: inherit;
}

button:focus {
  outline: none;
}

.center {
  text-align: center;
}

.mt-10 {
  margin-top: 10rem !important;
}
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem 3rem;
}

.navbar > .nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
}

.navbar > .nav-list > .nav-list-items {
  padding-right: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-black);
  position: relative;
}

.nav-list-items > a {
  margin-right: 1rem;
  text-align: center;
}

.nav-list-items > a:hover {
  border-bottom: 2px solid var(--color-primary);
}

.login-avatar {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.down-arrow-icon {
  position: relative;
  top: -1.3rem;
  left: 0.7rem;
}

.logout-check {
  display: none;
}

.logout-check:checked ~ .dropdown {
  visibility: visible;
  opacity: 1;
}

.sign-out {
  color: var(--color-black);
}

.dropdown {
  width: 9rem;
  background: var(--color-white);
  color: var(--color-black);
  font-size: 1.5rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5rem;
  transition: all 0.2s;
  visibility: hidden;
  opacity: 0;
  border-radius: 2px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.dropdown ul {
  list-style-type: none;
  padding: 0;
}

.dropdown ul li {
  padding: 1rem 0;
}

.dropdown-item:hover {
  cursor: pointer;
}
/* New question Form */
.new-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-form > .form-group {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

.form-group > .option-a,
.form-group > .option-b {
  background: var(--color-white);
  width: 40%;
  padding: 1.5rem 1rem;
  border: none;
  border-radius: 2px;
  text-align: center;
}

.form-group > .option-a,
.form-group > .option-b {
  outline-color: var(--color-primary);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.submit-poll {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-primary-dark);
  margin-top: 2rem;
  padding: 1rem 5rem;
  border: 1.5px solid var(--color-primary-dark);
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}

.submit-poll:hover {
  background: var(--color-gradient);
  color: var(--color-white);
}

.btn {
  background: var(--color-gradient);
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-white);
  margin: 3rem 0;
  padding: 1rem 5rem;
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}

/* TODO: change button states */

/* question */
.container {
  width: 70%;
  padding: 3rem 3rem;
  margin: 1.5rem auto;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 6rem;
  text-align: center;
}

.user-info {
  width: 96%;
  font-size: 2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
}

.user-info > .avatar {
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info > .avatar > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.user-info > .user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  text-align: left;
}

.user-details > .name {
  font-weight: 700;
}

.user-details > .handle {
  font-size: 1.5rem;
  color: #bdbdbd;
}

.user-details > .date {
  font-size: 1.5rem;
  font-weight: 500;
  color: #bdbdbd;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  display: block;
  font-size: 4rem;
}

.heading-primary {
  padding-top: 6rem;
}

.option {
  font-size: 1.5rem !important;
}

.question > .options {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.options > .option-1,
.options > .option-2 {
  background: var(--color-light);
  padding: 2rem;
  font-size: 2rem;
  border-radius: 5px;
  font-weight: 600;
}

/* Answer question */
.question-answer-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background: var(--color-gradient) !important;
  color: #fff !important;
}

.form-group > .answer-a,
.form-group > .answer-b {
  background: var(--color-light);
  padding: 2rem;
  margin: 1rem 0;
  font-size: 1.5rem;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
/* End */

/* Poll Results */
.question-result {
  width: 96%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.question-result > .question-1,
.question-result > .question-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.question-1 > span,
.question-2 > span,
.progress {
  width: 70%;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.votes {
  font-weight: 500;
}

.go-back {
  font-size: 1.5rem;
  display: inline;
}

.go-back:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

/* progress bar */
progress[value] {
  width: 70%;
  height: 2rem;
  -webkit-appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: var(--color-light);
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background: var(--color-gradient);
}

/* Registered User */
.register-user {
  height: 96vh;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.register-user > h3 {
  font-size: 3rem;
}

.register-user-list-item {
  width: 40rem;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.not-exist {
  font-size: 1.5rem;
}
